:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --darkmain: #242424;
  --darksecond: rgb(68, 114, 114);
  --shadowmain: white;
  --shadowsecondary: darkslategrey;
  --lightmain: white;
  --lightsecond: #7AC5CD;

  --primary: var(--darkmain);
  --secondary: var(--darksecond);
  --shadow: var(--shadowmain);


  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}


body {
  background-color: var(--primary);
}

.dark {
  --primary: var(--darkmain);
  --secondary: var(--darksecond);
  --shadow: var(--shadowmain);
}

.light {
  --primary: var(--lightmain);
  --secondary: var(--lightsecond);
  --shadow: var(--shadowsecondary);
}

.difficulty {
  background-color: var(--secondary);
}

#selector {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

#app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  column-gap: 1vh;
  row-gap: 4vh;
  padding-top: 1%;
  margin-top: 4%;
  margin-left: 4.5%;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  column-gap: 1vh;
  row-gap: 4vh;
  padding-top: 1%;

}


.flip-card {
  background-color: transparent;
  width: 10vw;
  height: 15vh;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: var(--primary)
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}