:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --darkmain: #242424;
  --darksecond: darkslategrey;
  --shadowmain: white;
  --shadowsecondary: darkslategrey;
  --lightmain: white;
  --lightsecond: #7AC5CD;

  --primary: var(--darkmain);
  --secondary: var(--darksecond);
  --shadow: var(--shadowmain);


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

.cards {
    width: 20%;
    height: 45vh;
    border-radius: 20px;
    box-shadow: 5px 4px 4px var(--shadow);
    background-color: var(--secondary);
}

#app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  column-gap: 1vh;
  row-gap: 4vh;
  padding-top: 1%;
  margin-top: 4%;
  margin-left: 4.5%;
}
body {
  background-color: var(--primary);
}

.dark {
  --primary: var(--darkmain);
  --secondary: var(--darksecond);
  --shadow: var(--shadowmain);
}

.light {
  --primary: var(--lightmain);
  --secondary: var(--lightsecond);
  --shadow: var(--shadowsecondary);
}


#app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  column-gap: 1vh;
  row-gap: 4vh;
  padding-top: 1%;
  margin-top: 4%;
  margin-left: 4.5%;
}


